modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 24678
externalPort = 3000

[[ports]]
localPort = 33145
externalPort = 8080

[[ports]]
localPort = 34661
externalPort = 8000

[[ports]]
localPort = 36549
externalPort = 6800

[[ports]]
localPort = 36625
externalPort = 5000

[[ports]]
localPort = 39041
externalPort = 8008

[[ports]]
localPort = 43555
externalPort = 3003

[[ports]]
localPort = 44013
externalPort = 4200

[[ports]]
localPort = 44957
externalPort = 6000

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
